body {
  margin: 0;
}
p {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 70px;
}
h4 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 50px;
  font-size: 2.25rem;
}
nav a {
  padding: 10px !important;
  font-weight: bold;
}
nav a.nav-link.active {
  background-color: #343a40;
  color: #fff !important;
  border-radius: 10px;
}
ul {
  list-style: square;
}

/* About */
.quote {
  color: #505050;
}

/* Contact */
.clickable-row {
  cursor: pointer;
}

/* Career */
a:hover {
  text-decoration: none;
}

/* Index */
.mission {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #343a40;
  color: #fff;
  padding: 10px;
}

.btn-info {
  display: block;
  font-size: 1.25rem;
  margin: auto;
}

.carousel h3 {
  text-shadow: 1px 1px 2px black;
}

/* Footer Styles */
html {
  background-color: #343a40;
}
footer {
  background-color: #343a40;
  overflow: hidden;
}
footer p,
footer a {
  color: #fff;
}
