/* About */
.quote {
  color: #505050;
}

/* Contact */
.card ul {
  list-style: none;
}

/* Index */
.mission {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: #343a40;
  color:#fff;
  padding: 10px;
}

.btn-info {
  display:block;
}

/* Spacing */
.mb-30 {
  margin-bottom: 30px;
}

/* Footer Styles */
footer {
  background-color: #343a40;
  overflow: auto;
}
footer p, footer a {
  color:#fff;
}

/* Navbar
 * Open dropdowns on hover instead of click.
 */
@media (min-width: 768px) {
  .dropdown:hover {
    background: #e7e7e7;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

/*
   * The following is needed since the dropdowns are <div> elements instead
   * of <a> elements
   */
.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
  cursor: default;
}
.navbar-nav > li > div {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.navbar-default .navbar-nav > li > div {
  color: rgb(119, 119, 119);
}
.navbar-collapse.collapse {
  display: none;
}
.dropdown-open {
  background: #e7e7e7;
}
