body {
  margin: 0;
}
p {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 70px;
}
h4 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 50px;
  font-size: 2.25rem;
}

/* About */
.quote {
  color: #505050;
}

/* Contact */
.card ul {
  list-style: none;
}
.clickable-row {
  cursor: pointer;
}

/* Index */
.mission {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #343a40;
  color: #fff;
  padding: 10px;
}

.btn-info {
  display: block;
  font-size: 1.25rem;
}

/* Footer Styles */
footer {
  background-color: #343a40;
  overflow: hidden;
}
footer p,
footer a {
  color: #fff;
}
